# Data Analysis
## Class 5
### Data cleaning and Exploratory Data Analysis
#### September 18th

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
import urllib.request

data_url = 'https://www.ssa.gov/oact/babynames/state/namesbystate.zip'
local_filename = 'namesbystate.zip'

if not os.path.exists(local_filename):
    with urllib.request.urlopen(data_url) as resp, open(local_filename), 'wb' as f:
        f.write(resp.read())

In [2]:
import zipfile

zf = zipfile.ZipFile('namesbystate.zip', 'r')
ca_name = 'STATE.CA.TXT'
fields = ['State', 'Sex', 'Year', 'Name', 'Count']

with zf.open(ca_name) as fh:
    babynames = pd.read_csv(fh, header=None, names=fields)

babynames.head()

  State Sex  Year      Name  Count
0    CA   F  1910      Mary    295
1    CA   F  1910     Helen    239
2    CA   F  1910   Dorothy    220
3    CA   F  1910  Margaret    163
4    CA   F  1910   Frances    134

In [3]:
first_ten_rows = babynames.loc[:9, :]

We can use binary commands to obtain only a few rows, and also use logical conditions

In [4]:
first_ten_rows[[True, True, False, True, True, False, True, False, True, True]]

  State Sex  Year       Name  Count
0    CA   F  1910       Mary    295
1    CA   F  1910      Helen    239
3    CA   F  1910   Margaret    163
4    CA   F  1910    Frances    134
6    CA   F  1910     Evelyn    126
8    CA   F  1910   Virginia    101
9    CA   F  1910  Elizabeth     93

In [5]:
logical_operator = (babynames['Name'] == 'Francis')

logical_operator

0         False
1         False
2         False
3         False
4         False
          ...
407423    False
407424    False
407425    False
407426    False
407427    False
Name: Name, Length: 407428, dtype: bool

In [6]:
babynames[logical_operator]

       State Sex  Year     Name  Count
214       CA   F  1910  Francis      5
715       CA   F  1912  Francis      7
1732      CA   F  1915  Francis     11
2322      CA   F  1916  Francis      6
2708      CA   F  1917  Francis     10
...      ...  ..   ...      ...    ...
393638    CA   M  2018  Francis     66
396632    CA   M  2019  Francis     45
399450    CA   M  2020  Francis     51
402164    CA   M  2021  Francis     64
405037    CA   M  2022  Francis     66

[221 rows x 5 columns]

In [7]:
babynames.loc[babynames['Sex'] == 'F']

       State Sex  Year      Name  Count
0         CA   F  1910      Mary    295
1         CA   F  1910     Helen    239
2         CA   F  1910   Dorothy    220
3         CA   F  1910  Margaret    163
4         CA   F  1910   Frances    134
...      ...  ..   ...       ...    ...
239532    CA   F  2022    Zemira      5
239533    CA   F  2022     Ziggy      5
239534    CA   F  2022     Zimal      5
239535    CA   F  2022     Zosia      5
239536    CA   F  2022     Zulay      5

[239537 rows x 5 columns]

and &

or |

In [8]:
babynames[(babynames['Sex'] == 'F') & (babynames['Year'] < 2000)]

       State Sex  Year      Name  Count
0         CA   F  1910      Mary    295
1         CA   F  1910     Helen    239
2         CA   F  1910   Dorothy    220
3         CA   F  1910  Margaret    163
4         CA   F  1910   Frances    134
...      ...  ..   ...       ...    ...
149050    CA   F  1999    Zareen      5
149051    CA   F  1999    Zeinab      5
149052    CA   F  1999     Zhane      5
149053    CA   F  1999      Zoha      5
149054    CA   F  1999     Zoila      5

[149055 rows x 5 columns]

In [9]:
babynames[(babynames['Name'] == 'Mary') |
          (babynames['Name'] == 'Kimberly') |
          (babynames['Name'] == 'Lisa') |
          (babynames['Name'] == 'Anne')]

       State Sex  Year      Name  Count
0         CA   F  1910      Mary    295
75        CA   F  1910      Anne     23
233       CA   F  1911      Mary    390
285       CA   F  1911      Anne     34
484       CA   F  1912      Mary    534
...      ...  ..   ...       ...    ...
331921    CA   M  1995  Kimberly      7
333594    CA   M  1996  Kimberly     16
339305    CA   M  1998  Kimberly      7
352529    CA   M  2003  Kimberly      5
354899    CA   M  2004  Kimberly      6

[521 rows x 5 columns]

Return if Name is in the list names

In [10]:
names = ['Mary', 'Kimberly', 'Lisa', 'Anne']
babynames[babynames['Name'].isin(names)]

       State Sex  Year      Name  Count
0         CA   F  1910      Mary    295
75        CA   F  1910      Anne     23
233       CA   F  1911      Mary    390
285       CA   F  1911      Anne     34
484       CA   F  1912      Mary    534
...      ...  ..   ...       ...    ...
331921    CA   M  1995  Kimberly      7
333594    CA   M  1996  Kimberly     16
339305    CA   M  1998  Kimberly      7
352529    CA   M  2003  Kimberly      5
354899    CA   M  2004  Kimberly      6

[521 rows x 5 columns]

%timeit repite 100 times a function to obtain a mean of how much time does the function takes

In [11]:
%timeit babynames['Name'].isin(names)

11.6 ms ± 47.9 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [12]:
babynames.shape
operation = 407428 * 4 #407428 lenght of dataframe * 4 lenght of the list names
operation_per_ms = operation / 12.9 # 12.9 the number of ms
operation_per_ms

126334.26356589147

In [13]:
babynames[babynames['Name'].str.startswith('N')]

       State Sex  Year    Name  Count
76        CA   F  1910   Norma     23
83        CA   F  1910  Nellie     20
127       CA   F  1910    Nina     11
198       CA   F  1910    Nora      6
310       CA   F  1911  Nellie     23
...      ...  ..   ...     ...    ...
407319    CA   M  2022   Nilan      5
407320    CA   M  2022   Niles      5
407321    CA   M  2022   Nolen      5
407322    CA   M  2022  Noriel      5
407323    CA   M  2022  Norris      5

[12229 rows x 5 columns]

.describe returns only information the columns with numbers data

In [14]:
babynames.describe()

                Year          Count
count  407428.000000  407428.000000
mean     1985.733609      79.543456
std        27.007660     293.698654
min      1910.000000       5.000000
25%      1969.000000       7.000000
50%      1992.000000      13.000000
75%      2008.000000      38.000000
max      2022.000000    8260.000000

describe also works with object's columns

In [15]:
babynames['Sex'].describe()

count     407428
unique         2
top            F
freq      239537
Name: Sex, dtype: object

Sample return some number of samples take it randomly

In [16]:
babynames.sample()

       State Sex  Year     Name  Count
383986    CA   M  2014  Wilbert      6

In [17]:
babynames[babynames['Year']==2000].sample(5).iloc[:,2:]

        Year     Name  Count
149579  2000  Yamilet     71
150605  2000    Eleni     15
151420  2000     Amia      8
151583  2000   Merari      8
152569  2000   Kirsty      5

sort_values based on a condition, and can use ascending True or False

reset_index change the index based on the condition, and it agregate a column 'index' with the original index

In [18]:
babynames.sort_values('Name', ascending=False).reset_index()

         index State Sex  Year     Name  Count
0       404544    CA   M  2021    Zyrus      5
1       197529    CA   F  2011    Zyrah      5
2       220691    CA   F  2017    Zyrah      6
3       232167    CA   F  2020    Zyrah      5
4       217429    CA   F  2016    Zyrah      5
...        ...   ...  ..   ...      ...    ...
407423  362040    CA   M  2007    Aaden     20
407424  398211    CA   M  2019  Aadarsh      6
407425  366001    CA   M  2008    Aadan      7
407426  369120    CA   M  2009    Aadan      6
407427  384005    CA   M  2014    Aadan      5

[407428 rows x 6 columns]

We can agregate lambda function's as criteria to sort_values

In [19]:
babynames.sort_values('Name', key=lambda x: x.str.len(), ascending=False).head(7)

       State Sex  Year             Name  Count
334166    CA   M  1996  Franciscojavier      8
337301    CA   M  1997  Franciscojavier      5
339472    CA   M  1998  Franciscojavier      6
321792    CA   M  1991  Ryanchristopher      7
327358    CA   M  1993  Johnchristopher      5
321913    CA   M  1991  Franciscojavier      6
344440    CA   M  2000  Franciscojavier      6

In [20]:
fem_babynames = babynames[babynames['Sex'] == 'F']
fem_babynames

       State Sex  Year      Name  Count
0         CA   F  1910      Mary    295
1         CA   F  1910     Helen    239
2         CA   F  1910   Dorothy    220
3         CA   F  1910  Margaret    163
4         CA   F  1910   Frances    134
...      ...  ..   ...       ...    ...
239532    CA   F  2022    Zemira      5
239533    CA   F  2022     Ziggy      5
239534    CA   F  2022     Zimal      5
239535    CA   F  2022     Zosia      5
239536    CA   F  2022     Zulay      5

[239537 rows x 5 columns]

In [21]:
import plotly.express as px
fig = px.line(fem_babynames[fem_babynames['Name'] == 'Clara'], x='Year', y='Count')
fig.update_layout(font_size=18)

In [22]:
fem_babynames = fem_babynames.sort_values(['Year', 'Count'])
fem_babynames.head()

    State Sex  Year      Name  Count
203    CA   F  1910  Adelaide      5
204    CA   F  1910     Adele      5
205    CA   F  1910  Adrienne      5
206    CA   F  1910    Althea      5
207    CA   F  1910   Antonia      5

In [23]:
fem_babynames[fem_babynames['Name'] == 'Lisa']

       State Sex  Year  Name  Count
12368     CA   F  1932  Lisa      5
14741     CA   F  1936  Lisa      8
17084     CA   F  1939  Lisa      5
17718     CA   F  1940  Lisa      7
18524     CA   F  1941  Lisa      7
...      ...  ..   ...   ...    ...
221874    CA   F  2018  Lisa     52
225530    CA   F  2019  Lisa     56
229635    CA   F  2020  Lisa     26
232916    CA   F  2021  Lisa     44
236459    CA   F  2022  Lisa     56

[86 rows x 5 columns]

In [24]:
fem_babynames['Name'].value_counts()

Clara        113
Jennie       113
Ella         113
Emily        113
Geraldine    113
            ...
Kristol        1
Laylene        1
Leilaney       1
Lezli          1
Debanhi        1
Name: Name, Length: 13782, dtype: int64

In [25]:
fem_babynames.groupby('Name').ngroups

13782

In [26]:
fem_babynames.groupby('Name').groups

{'Aadhini': [238687], 'Aadhira': [220330, 223283, 231343, 234746, 239045], 'Aadhya': [180380, 188452, 196071, 198837, 202620, 206542, 210341, 214361, 218182, 221936, 225694, 229384, 233165, 236750], 'Aadya': [175389, 188108, 192283, 195599, 199377, 203782, 206873, 210759, 214622, 218618, 222315, 226077, 229652, 233404, 237294], 'Aahana': [179961, 184195, 188109, 191399, 196313, 199088, 203943, 207641, 216026, 219537, 222277, 226973, 235342, 238411], 'Aahna': [208337], 'Aaira': [224072, 228084, 231727, 237879], 'Aairah': [220692], 'Aalani': [235000, 238412], 'Aalaya': [209031], 'Aalayah': [184196, 192973, 196314, 201062, 205032, 212333, 216229, 220074, 224413, 226730, 231728, 233878, 238413], 'Aaleah': [192974, 209032, 216889], 'Aaleyah': [180381, 188110, 190991, 195371, 199038, 203650, 207199, 211051, 215862, 219133, 223284, 226731, 230034, 234193], 'Aalia': [176140, 196984, 204115, 208338, 216230, 219854, 224414, 227733, 235343, 239046], 'Aaliah': [155434, 163143, 166520, 169939, 174778, 178451, 184197, 186770, 191201, 196315, 199856, 204116, 208639, 211270, 216890, 220693, 231344, 235001], 'Aaliya': [141432, 155435, 159520, 162909, 167415, 171531, 175390, 179642, 184634, 192284, 196607, 200066, 203355, 207642, 212621, 216231, 220331, 223285, 226846, 231345, 235344, 238688], 'Aaliyah': [77305, 127955, 131748, 135470, 138695, 142302, 145910, 149405, 152972, 156709, 160579, 164498, 168527, 172617, 176812, 181090, 185316, 189503, 193579, 197567, 201673, 205641, 209658, 213598, 217470, 221242, 224923, 228587, 232210, 235873], 'Aaliyha': [180382], 'Aalyah': [155704, 159223, 162910, 166866, 171202, 174939, 179184, 183051, 187257, 191847, 196608, 200067, 209033, 211922, 220694, 231729, 235002], 'Aalyiah': [180383, 184198, 188864, 192975, 201063, 208117], 'Aamina': [196985], 'Aaminah': [167844, 220332], 'Aamira': [201064, 235003], 'Aamiyah': [200632, 205033, 216891], 'Aanchal': [133982], 'Aanika': [170739, 175135, 213008, 235345], 'Aaniya': [192976], 'Aaniyah': [170458, 175136, 178655, 182745, 187873, 191678, 195474, 203651, 213009, 220695, 227734, 231087, 234357], 'Aanshi': [216892], 'Aanvi': [213010, 215555, 220075, 223286, 227477, 231346, 235004, 238201], 'Aanya': [156055, 159521, 162587, 167416, 173937, 177722, 181992, 186291, 190383, 194422, 198363, 202395, 206309, 210433, 214599, 218509, 222348, 226151, 229808, 233042, 236713], 'Aaradhya': [200068, 203282, 207273, 212100, 215455, 219855, 222661, 226364, 230583, 234747, 238414], 'Aaralyn': [170232, 174319, 179000, 184199, 187380, 195475, 198920, 202907, 207274, 211923, 215863, 220076], 'Aaria': [209034, 212622, 216893, 219856, 223042, 227478, 231088], 'Aariah': [220696], 'Aariana': [167417], 'Aarika': [90591, 104828, 108294, 111107, 114980, 119229, 201065, 211924, 231730, 239047], 'Aarin': [137940], 'Aarini': [208640], 'Aariyah': [188453, 196986, 208339, 212101, 215864, 224073, 227735, 231347, 235346, 238689], 'Aarna': [179001, 183309, 187671, 191067, 194627, 198838, 203019, 206559, 210824, 214600, 218539, 222168, 225922, 229290, 232873, 236733], 'Aarohi': [180384, 188111, 192977, 203550, 206990, 211431, 214984, 219538, 222958, 226488, 230882, 235005, 238690], 'Aaron': [52508, 54754, 60346, 61868, 64463, 66455, 69033, 71143, 72350, 74997, 76975, 79266, 81874, 84249, 86796, 90011, 92396, 95704, 98162, 100660, 104105, 107581, 110985, 114536, 117753, 121171, 125042, 129001, 132890, 136582, 140841, 144201, 147923, 159522, 163832, 216894], 'Aarti': [85463], 'Aarushi': [151649, 154897, 159003, 163833, 166391, 170599, 174320, 179962, 183893, 188112, 191202, 204117, 216895, 220697, 224074, 227479], 'Aarvi': [213011, 220333, 231348, 235006], 'Aarya': [167845, 175708, 179185, 182936, 187510, 191679, 195372, 198783, 202943, 206579, 210863, 214684, 218540, 221965, 225893, 229212, 233126, 236623], 'Aaryn': [105075, 115469, 130760, 159898, 167846, 188865, 192593, 207769, 220334, 224415, 234748], 'Aasha': [171931], 'Aashi': [171932, 179963, 187258, 191400, 200069, 203783, 207935, 212623, 216526, 227106], 'Aashna': [141091, 156056, 159899, 163474, 167418, 171532, 175709, 179002, 183310, 188113, 191848, 195891, 199857, 203784, 209035, 213012, 220077], 'Aashritha': [188866], 'Aashvi': [208340, 211535, 215556, 219857, 223601, 226241, 230098, 233488, 237295], 'Aastha': [163475, 167095, 171533, 184200, 188867], 'Aavya': [213013, 215207, 218781, 222796, 227267, 230171, 233552, 237044], 'Aayat': [220078, 227268, 230883, 234749, 238023], 'Aayla': [201066, 205034, 208641, 216232, 235347, 238024], 'Aayra': [224075, 230584, 235007, 239048], 'Aayushi': [159523], 'Abagail': [126647, 130368, 133714, 136687, 139829, 144038, 147568, 151224, 155215, 159004, 163144, 166521, 170064, 173882, 178547, 182606, 186981, 191129, 195083, 200070, 203785, 208642, 216896, 224416, 228085], 'Abbagail': [196316], 'Abbe': [32462, 38501, 40120], 'Abbey': [71144, 75602, 79951, 82096, 84859, 87069, 89719, 92847, 95566, 98247, 100801, 104640, 107582, 112132, 114111, 118268, 121646, 125325, 128947, 132445, 136013, 139781, 142879, 146426, 149979, 153832, 157567, 161351, 165338, 169464, 173705, 177813, 182018, 186249, 190532, 194408, 198323, 202453, 206835, 210864, 214571, 219424, 223287, 226296, 230585, 234358, 238691], 'Abbie': [5048, 6228, 31090, 32463, 35346, 36553, 37953, 39861, 41923, 43184, 48987, 50881, 64576, 68832, 71145, 79952, 81785, 84752, 87315, 90123, 93562, 99219, 101913, 104491, 107845, 110858, 115172, 118269, 123317, 126369, 129567, 136492, 139830, 143469, 146700, 150927, 153921, 157812, 161575, 165622, 169788, 173513, 177935, 182258, 186159, 190431, 194468, 198221, 202600, 206465, 210641, 214710, 218510, 222797, 227107, 231349, 233970, 237492], 'Abbigail': [126648, 129903, 133341, 136809, 139893, 143470, 147042, 150194, 154173, 157863, 161480, 165623, 169740, 173645, 177814, 181993, 186013, 190267, 194261, 198453, 202701, 206781, 210998, 215208, 218782, 222877, 226732, 230172, 235008, 239049], 'Abbigale': [137559, 148586, 152284, 155436, 159900, 162911, 171933, 174779, 179964, 183658, 192285, 195600, 200071, 208643, 216897], 'Abbigayle': [151911, 179965], 'Abby': [29884, 30913, 33553, 35347, 36863, 38121, 39937, 41506, 42983, 44730, 46601, 48497, 50432, 52187, 54477, 55755, 58606, 60220, 62149, 64464, 66826, 68333, 70592, 72978, 74853, 77027, 78933, 81350, 83809, 86546, 89147, 91969, 94796, 97502, 100528, 103659, 106546, 109758, 113319, 117238, 121114, 124645, 128297, 131889, 135444, 139119, 142561, 145911, 149552, 153268, 157051, 160886, 164731, 168812, 172890, 177052, 181398, 185600, 189767, 193872, 197841, 201938, 205941, 209950, 213907, 217856, 221582, 225264, 228933, 232672, 236349], 'Abbygail': [134350, 140654, 144981, 147197, 151912, 155216, 158683, 161963, 165834, 169884, 173766, 177837, 182412, 186313, 190512, 194469, 198351, 202547, 207032, 210865, 215082, 219134, 224076, 227736, 231089, 234359, 238415], 'Abbygale': [171203, 176141, 191680], 'Abbygayle': [159901], 'Abeer': [130761, 180385], 'Abegail': [152285, 167419, 171934, 176142, 180386], 'Abelina': [88138, 90844, 96368, 99220, 115830, 137941], 'Abella': [175137, 179966, 188114, 191130, 195892, 199089, 203356, 207432, 211536, 215456, 220079, 222959, 226974, 231090, 238025], 'Aberdeen': [205035, 212624], 'Abi': [188868], 'Abigael': [127033, 130762, 141092, 144645, 162912, 171204, 183466, 187874, 192594, 196987, 200633, 204650, 216898, 220698, 223803, 235009, 238202], 'Abigail': [7598, 9627, 12944, 19392, 22452, 24893, 25948, 27061, 29318, 30539, 32023, 33412, 34910, 36245, 37870, 39702, 41381, 42733, 44777, 46477, 48206, 50006, 52295, 53868, 55642, 57456, 59516, 61498, 63563, 65775, 67724, 69777, 71856, 73959, 76304, 78615, 80999, 83487, 86069, 88770, 91471, 94237, 96996, 99905, 102938, 105991, 109221, 112792, 116517, 120236, 123936, 127677, 131331, 134926, 138469, 141966, 145510, 149093, 152852, 156640, 160495, 164398, 168423, 172516, 176729, 181007, 185255, 189446, 193543, 197537, 201640, 205609, 209625, 213567, 217438, 221205, 224902, 228563, 232186, 235855], 'Abigal': [130369], 'Abigale': [127034, 130763, 133193, 136810, 140148, 143890, 147569, 150723, 154552, 157943, 161716, 165835, 170005, 173806, 178002, 182498, 186827, 190840, 194877, 198978, 203098, 207770, 213014, 216527, 219539, 223154, 226645, 230884], 'Abigayl': [159902], 'Abigayle': [71146, 126649, 130113, 133342, 137116, 140346, 143643, 146854, 150432, 154471, 158254, 161680, 165742, 169465, 173706, 178122, 182607, 191068, 195601, 199144, 203786, 208118, 212334, 227108], 'Abilene': [108048, 118725, 122686, 125978, 129904, 134351, 140842, 144982, 156057, 171534, 175138, 187672, 192595, 195743, 199218, 204361, 208644, 212335, 216899, 220699, 227737], 'Abisai': [213015], 'Abra': [75402, 80350, 87410, 93289, 171935], 'Abraham': [130370], 'Abrar': [208341], 'Abreanna': [137942], 'Abree': [212336, 220700], 'Abriana': [122459, 125741, 129568, 133194, 137943, 139831, 144202, 147924, 151225, 154472, 158460, 162343, 166522, 170600, 174640, 178741, 183052, 188454, 192286, 195027, 199463, 203652, 207538, 212625, 219684, 228086], 'Abrianna': [125848, 129720, 133983, 136811, 139970, 143762, 147198, 150540, 154473, 158255, 161922, 166672, 170740, 173883, 178123, 182608, 187064, 190878, 194761, 198717, 202702, 206836, 210953, 215691, 223602, 227738, 231350, 235348], 'Abriella': [188455, 192038, 196072, 199564, 203551, 207643, 212102, 214944, 218997, 223288, 226975, 231091, 234750, 239050], 'Abrielle': [130764, 141093, 147925, 151913, 166673, 171205, 174780, 180387, 183311, 186540, 190879, 194803, 198553, 202754, 206837, 210600, 214814, 218567, 222605, 226566, 230173, 234751, 237663], 'Abril': [75603, 85464, 87871, 90242, 93290, 98954, 101295, 104829, 107700, 110770, 113997, 117418, 121172, 124771, 128948, 132494, 135744, 139553, 142418, 145954, 149575, 153361, 157132, 160988, 164933, 168874, 172972, 176980, 181318, 185622, 189893, 193956, 197990, 202233, 206162, 210259, 214046, 217970, 221830, 225491, 229202, 232985, 236462], 'Abrina': [134352], 'Aby': [209036], 'Abygail': [144983, 147420, 151226, 156058, 159005, 161964, 166178, 169697, 173676, 177783, 182289, 186366, 190589, 195084, 198878, 203099, 206991, 211207, 214651, 219135, 222725, 227480, 234752], 'Acacia': [70812, 75229, 82861, 85009, 95891, 98729, 101018, 104380, 107288, 110190, 113741, 117754, 121416, 125265, 128748, 132612, 136014, 139673, 143296, 146572, 150433, 154553, 158174, 161965, 165787, 170233, 174042, 178742, 182331, 187511, 191514, 195373, 199378, 204118, 207936, 211432, 215557, 219307, 223155, 227109, 230255, 233744, 238416], 'Acadia': [213016], ...}

In [27]:
fem_babynames.groupby('Name').groups.keys()

dict_keys(['Aadhini', 'Aadhira', 'Aadhya', 'Aadya', 'Aahana', 'Aahna', 'Aaira', 'Aairah', 'Aalani', 'Aalaya', 'Aalayah', 'Aaleah', 'Aaleyah', 'Aalia', 'Aaliah', 'Aaliya', 'Aaliyah', 'Aaliyha', 'Aalyah', 'Aalyiah', 'Aamina', 'Aaminah', 'Aamira', 'Aamiyah', 'Aanchal', 'Aanika', 'Aaniya', 'Aaniyah', 'Aanshi', 'Aanvi', 'Aanya', 'Aaradhya', 'Aaralyn', 'Aaria', 'Aariah', 'Aariana', 'Aarika', 'Aarin', 'Aarini', 'Aariyah', 'Aarna', 'Aarohi', 'Aaron', 'Aarti', 'Aarushi', 'Aarvi', 'Aarya', 'Aaryn', 'Aasha', 'Aashi', 'Aashna', 'Aashritha', 'Aashvi', 'Aastha', 'Aavya', 'Aayat', 'Aayla', 'Aayra', 'Aayushi', 'Abagail', 'Abbagail', 'Abbe', 'Abbey', 'Abbie', 'Abbigail', 'Abbigale', 'Abbigayle', 'Abby', 'Abbygail', 'Abbygale', 'Abbygayle', 'Abeer', 'Abegail', 'Abelina', 'Abella', 'Aberdeen', 'Abi', 'Abigael', 'Abigail', 'Abigal', 'Abigale', 'Abigayl', 'Abigayle', 'Abilene', 'Abisai', 'Abra', 'Abraham', 'Abrar', 'Abreanna', 'Abree', 'Abriana', 'Abrianna', 'Abriella', 'Abrielle', 'Abril', 'Abrina', 'Aby', 'Abygail', 'Acacia', 'Acadia', 'Ace', 'Acelyn', 'Acelynn', 'Ada', 'Adabella', 'Adabelle', 'Adah', 'Adahli', 'Adahlia', 'Adaia', 'Adaiah', 'Adair', 'Adalay', 'Adaleah', 'Adalee', 'Adaleen', 'Adaleigh', 'Adalena', 'Adalene', 'Adalhi', 'Adali', 'Adalia', 'Adaliah', 'Adalie', 'Adalin', 'Adalina', 'Adalind', 'Adaline', 'Adaliz', 'Adaly', 'Adalyn', 'Adalyna', 'Adalyne', 'Adalynn', 'Adalynne', 'Adam', 'Adamari', 'Adamaris', 'Adamariz', 'Adamary', 'Adamarys', 'Adana', 'Adanely', 'Adanna', 'Adanya', 'Adara', 'Adaya', 'Adayah', 'Addalyn', 'Addalynn', 'Addeline', 'Addelyn', 'Addelynn', 'Addi', 'Addie', 'Addilyn', 'Addilynn', 'Addis', 'Addisen', 'Addison', 'Addisyn', 'Addy', 'Addysen', 'Addyson', 'Adeena', 'Adel', 'Adela', 'Adelaida', 'Adelaide', 'Adelaine', 'Adelayda', 'Adele', 'Adeleine', 'Adelena', 'Adelene', 'Adelia', 'Adelie', 'Adelin', 'Adelina', 'Adeline', 'Adelise', 'Adelita', 'Adell', 'Adella', 'Adelle', 'Adely', 'Adelyn', 'Adelyne', 'Adelynn', 'Adelynne', 'Aden', 'Adena', 'Adeya', 'Adhara', 'Adhira', 'Adhya', 'Adi', 'Adia', 'Adiana', 'Adianna', 'Adilene', 'Adileni', 'Adilenne', 'Adileny', 'Adilyn', 'Adilynn', 'Adina', 'Adira', 'Adison', 'Adisyn', 'Adithi', 'Aditi', 'Aditri', 'Adlee', 'Adleigh', 'Adley', 'Adora', 'Adore', 'Adrea', 'Adreana', 'Adreanna', 'Adreena', 'Adrena', 'Adria', 'Adrian', 'Adriana', 'Adriane', 'Adriann', 'Adrianna', 'Adrianne', 'Adrieanna', 'Adriel', 'Adrielle', 'Adrien', 'Adriene', 'Adrienna', 'Adrienne', 'Adrina', 'Adryana', 'Adryanna', 'Advika', 'Adya', 'Adylene', 'Adyline', 'Adysen', 'Adyson', 'Aela', 'Aeliana', 'Aella', 'Aemilia', 'Aerabella', 'Aerial', 'Aeriel', 'Aerilyn', 'Aerin', 'Aeris', 'Aerith', 'Aeryn', 'Aesha', 'Aeva', 'Africa', 'Afton', 'Agam', 'Agatha', 'Agena', 'Agnes', 'Agripina', 'Agueda', 'Agustina', 'Ahaana', 'Ahana', 'Ahava', 'Ahlam', 'Ahlana', 'Ahlani', 'Ahmari', 'Ahna', 'Ahniah', 'Ahri', 'Ahriana', 'Ahsley', 'Ahsoka', 'Ahtziri', 'Ahtziry', 'Ai', 'Aibhlinn', 'Aida', 'Aidan', 'Aidana', 'Aide', 'Aidee', 'Aideliz', 'Aiden', 'Aidsa', 'Aidyn', 'Aiesha', 'Aika', 'Aiko', 'Aila', 'Ailah', 'Ailana', 'Ailani', 'Ailanie', 'Ailany', 'Ailed', 'Ailee', 'Aileen', 'Aileene', 'Ailen', 'Ailene', 'Aileth', 'Ailey', 'Aili', 'Ailin', 'Ailis', 'Ailish', 'Aily', 'Ailyn', 'Ailynn', 'Aimar', 'Aime', 'Aimee', 'Aimie', 'Aimme', 'Aina', 'Ainara', 'Aine', 'Ainhara', 'Ainhoa', 'Ainslee', 'Ainsley', 'Aira', 'Airam', 'Aireana', 'Aireanna', 'Airi', 'Airiana', 'Airianna', 'Aisha', 'Aishah', 'Aishani', 'Aishwarya', 'Aisla', 'Aisley', 'Aislin', 'Aisling', 'Aislinn', 'Aislyn', 'Aislynn', 'Aissa', 'Aitana', 'Aitanna', 'Aithana', 'Aiva', 'Aivah', 'Aivy', 'Aixa', 'Aiya', 'Aiyana', 'Aiyanah', 'Aiyanna', 'Aiyla', 'Aiza', 'Aizah', 'Aizza', 'Aja', 'Ajah', 'Ajanae', 'Ajane', 'Ajee', 'Ajia', 'Ajooni', 'Akane', 'Akanksha', 'Akansha', 'Akari', 'Akasha', 'Akayla', 'Akaylah', 'Akeelah', 'Akela', 'Akemi', 'Akhila', 'Akia', 'Akiba', 'Akiko', 'Akila', 'Akilah', 'Akina', 'Akira', 'Akirah', 'Akisha', 'Akshara', 'Akshaya', 'Akshita', 'Akyra', 'Alaa', 'Alabama', 'Alahna', 'Alahni', 'Alaia', 'Alaiah', 'Alaiia', 'Alaina', 'Alaine', 'Alaiya', 'Alaiyah', 'Alaiza', 'Alajah', 'Alan', 'Alana', 'Alanah', 'Alandra', 'Alane', 'Alani', 'Alania', 'Alanie', 'Alanii', 'Alanis', 'Alanna', 'Alannah', 'Alanni', 'Alanny', 'Alany', 'Alara', 'Alasia', 'Alaska', 'Alauna', 'Alaura', 'Alaya', 'Alayah', 'Alayiah', 'Alayjah', 'Alayla', 'Alaylah', 'Alayna', 'Alaynah', 'Alayne', 'Alaynna', 'Alaysha', 'Alaysia', 'Alayza', 'Alazay', 'Alazne', 'Alba', 'Albany', 'Albert', 'Alberta', 'Albertina', 'Alberto', 'Albina', 'Alda', 'Alden', 'Alea', 'Aleah', 'Aleana', 'Aleasha', 'Alec', 'Alecia', 'Aleda', 'Aleea', 'Aleeah', 'Aleece', 'Aleecia', 'Aleen', 'Aleena', 'Aleenah', 'Aleesa', 'Aleesha', 'Aleeya', 'Aleeyah', 'Aleeza', 'Alegandra', 'Alegra', 'Alegria', 'Aleia', 'Aleiah', 'Aleida', 'Aleigha', 'Aleina', 'Aleisha', 'Aleiya', 'Aleiyah', 'Aleja', 'Alejah', 'Alejandra', 'Alejandrina', 'Alejandro', 'Alekhya', 'Aleksa', 'Aleksandra', 'Aleksia', 'Aleli', 'Alena', 'Alene', 'Alenna', 'Alesa', 'Alesana', 'Alesandra', 'Alese', 'Alesha', 'Aleshia', 'Alesia', 'Alessa', 'Alessandra', 'Alessandria', 'Alessi', 'Alessia', 'Aleta', 'Aletha', 'Alethea', 'Aletheia', 'Alethia', 'Alex', 'Alexa', 'Alexah', 'Alexander', 'Alexandera', 'Alexanderia', 'Alexandra', 'Alexandrea', 'Alexandria', 'Alexandrina', 'Alexandrya', 'Alexas', 'Alexcia', 'Alexes', 'Alexi', 'Alexia', 'Alexiah', 'Alexiana', 'Alexie', 'Alexis', 'Alexiss', 'Alexius', 'Alexiz', 'Alexsa', 'Alexsandra', 'Alexsia', 'Alexsis', 'Alexssa', 'Alexsys', 'Alexus', 'Alexx', 'Alexxa', 'Alexxia', 'Alexxis', 'Alexxus', 'Alexy', 'Alexya', 'Alexys', 'Alexyss', 'Alexza', 'Alexzandra', 'Alexzandria', 'Aleya', 'Aleyah', 'Aleyda', 'Aleyna', 'Aleysa', 'Aleyssa', 'Aleyza', 'Alfa', 'Alfreda', 'Alfredo', 'Alheli', 'Ali', 'Alia', 'Aliah', 'Aliana', 'Alianah', 'Alianna', 'Aliannah', 'Alica', 'Alice', 'Alicea', 'Alicen', 'Alicia', 'Aliciana', 'Alida', 'Aliea', 'Aliena', 'Aliesha', 'Alijah', 'Alik', 'Alika', 'Alilah', 'Alilet', 'Alin', 'Alina', 'Alinah', 'Aline', 'Alinea', 'Alinna', 'Alique', 'Alis', 'Alisa', 'Alisandra', 'Alise', 'Alisha', 'Alishba', 'Alishia', 'Alisi', 'Alisia', 'Alison', 'Alissa', 'Alissandra', 'Alissia', 'Alisson', 'Alisyn', 'Alita', 'Alitza', 'Alitzel', 'Alivia', 'Aliviah', 'Alix', 'Alixandra', 'Alixandria', 'Aliya', 'Aliyaah', 'Aliyah', 'Aliyana', 'Aliyanah', 'Aliyanna', 'Aliz', 'Aliza', 'Alizabeth', 'Alizae', 'Alizah', 'Alizay', 'Alize', 'Alizea', 'Alizee', 'Alizey', 'Alizon', 'Alla', 'Allana', 'Allanah', 'Allegra', 'Allen', 'Allena', 'Allene', 'Allexa', 'Alley', 'Alli', 'Allia', 'Alliah', 'Alliana', 'Allie', 'Allina', 'Allisa', 'Allisen', 'Allisha', 'Allison', 'Allissa', 'Allisson', 'Allisyn', 'Alliyah', 'Allizon', 'Allura', 'Allure', 'Ally', 'Allyana', 'Allyce', 'Allycia', 'Allyn', 'Allyna', 'Allysa', 'Allyse', 'Allysen', 'Allysha', 'Allysia', 'Allyson', 'Allyssa', 'Allysson', 'Alma', 'Almadelia', 'Almarosa', 'Almendra', 'Almira', 'Aloha', 'Aloma', 'Alona', 'Alonda', 'Alondra', 'Aloni', 'Alonna', 'Alora', 'Alpha', 'Alta', 'Altagracia', 'Althea', 'Aluna', 'Alva', 'Alvera', 'Alvina', 'Aly', 'Alya', 'Alyah', 'Alyana', 'Alyanna', 'Alyannah', 'Alyce', 'Alycia', 'Alydia', 'Alyiah', 'Alyissa', 'Alyn', 'Alyna', 'Alynah', 'Alyne', 'Alynna', 'Alys', 'Alysa', 'Alysah', 'Alyse', 'Alysen', 'Alysha', 'Alyshia', 'Alysia', 'Alyson', 'Alyss', 'Alyssa', 'Alyssah', 'Alyssamae', 'Alyssamarie', 'Alyssandra', 'Alysse', 'Alyssia', 'Alysson', 'Alyvia', 'Alyx', 'Alyxandra', 'Alyxandria', 'Alyza', 'Alyzah', 'Alyzza', 'Amada', 'Amaia', 'Amaiah', 'Amaira', 'Amairani', 'Amairany', 'Amaiya', 'Amaiyah', 'Amal', 'Amala', 'Amali', 'Amalia', 'Amalie', 'Amalya', 'Aman', 'Amana', 'Amanada', 'Amanat', 'Amanda', 'Amandeep', 'Amando', 'Amani', 'Amanpreet', 'Amar', 'Amara', 'Amarachi', 'Amarah', 'Amaranta', 'Amaree', 'Amari', 'Amaria', 'Amariah', 'Amarie', 'Amarii', 'Amarilis', 'Amaris', 'Amarissa', 'Amariyah', 'Amariz', 'Amarra', 'Amaryllis', 'Amauri', 'Amaya', 'Amayah', 'Amayra', 'Amayrani', 'Amayrany', 'Ambar', 'Amber', 'Amberle', 'Amberlee', 'Amberley', 'Amberly', 'Amberlyn', 'Amberlynn', 'Amberrose', 'Ambika', 'Ambra', 'Ambre', 'Ambria', 'Ambrielle', 'Ambrosia', 'Ambur', 'Amee', 'Ameena', 'Ameenah', 'Ameera', 'Ameerah', 'Ameli', 'Amelia', 'Ameliah', 'Ameliana', 'Ameliarose', 'Amelie', 'Ameliya', 'Amellia', 'Amely', 'Amen', 'Amena', 'Amera', 'America', 'Amerie', 'Amerika', 'Amery', 'Amethyst', 'Amey', 'Ameya', 'Ameyalli', 'Ami', 'Amia', 'Amiah', 'Amie', 'Amiee', 'Amila', 'Amilah', 'Amilia', 'Amiliana', 'Amillia', 'Amilliana', 'Amilya', 'Amina', 'Aminah', 'Aminata', 'Amira', 'Amirah', 'Amiri', 'Amirrah', 'Amisadai', 'Amisha', 'Amit', 'Amita', 'Amity', 'Amiya', 'Amiyah', 'Ammi', 'Ammie', 'Ammy', 'Amna', 'Amoni', 'Amor', 'Amora', 'Amorah', 'Amore', 'Amoreena', 'Amorette', 'Amorie', 'Amory', 'Amour', 'Amoura', 'Amparo', 'Amreen', 'Amri', 'Amrit', 'Amrita', 'Amrutha', 'Amulya', 'Amunique', 'Amy', 'Amya', 'Amyah', 'Amyiah', 'Amyla', 'Amyra', 'Amyrah', 'An', 'Ana', 'Anaalicia', 'Anaaya', 'Anabel', 'Anabela', 'Anabelen', 'Anabell', 'Anabella', 'Anabelle', 'Anabeth', 'Anabia', 'Anacamila', 'Anacani', 'Anacaren', 'Anacecilia', 'Anacristina', 'Anadalay', 'Anaeli', 'Anaelle', 'Anagabriela', 'Anagha', 'Anah', 'Anahat', 'Anahi', 'Anahid', 'Anahis', 'Anahit', 'Anahita', 'Anahy', 'Anai', 'Anaia', 'Anaiah', 'Anaid', 'Anaika', 'Anaira', 'Anairis', 'Anais', 'Anaisa', 'Anaisabel', 'Anaisha', 'Anaissa', 'Anaiya', 'Anaiyah', 'Anaiz', 'Anaiza', 'Anakaren', 'Analaura', 'Analaya', 'Analayah', 'Analea', 'Analeah', 'Analee', 'Analeia', 'Analeigh', 'Analeigha', 'Analena', 'Analeya', 'Analeyah', 'Anali', 'Analia', 'Analiah', 'Analicia', 'Analie', 'Analiese', 'Analilia', 'Analina', 'Analis', 'Analisa', 'Analise', 'Analissa', 'Analiya', 'Analiyah', 'Analiz', 'Analiza', 'Analleli', 'Anallely', 'Analucia', 'Analuisa', 'Analy', 'Analya', 'Analyah', 'Analyn', 'Analynn', 'Analysa', 'Analyse', 'Analyssa', 'Anam', 'Anamaria', 'Anamarie', 'Ananda', 'Ananya', 'Anapaola', 'Anapatricia', 'Anapaula', 'Anara', 'Anareli', 'Anari', 'Anarosa', 'Anasofia', 'Anasophia', 'Anastacia', 'Anastasia', 'Anastasiya', 'Anastassia', 'Anastazia', 'Anaveah', 'Anavi', 'Anavictoria', 'Anay', 'Anaya', 'Anayah', 'Anayat', 'Anayeli', 'Anayely', 'Anayra', 'Andee', 'Andera', 'Andi', 'Andie', 'Andra', 'Andraya', 'Andre', 'Andrea', 'Andreah', 'Andreana', 'Andreanna', 'Andree', 'Andreina', 'Andrena', 'Andres', 'Andrew', 'Andreya', 'Andria', 'Andriana', 'Andrianna', 'Andrina', 'Andromeda', 'Andy', 'Anecia', 'Aneesa', 'Aneesah', 'Aneesha', 'Anel', 'Anela', 'Aneli', 'Anelise', 'Aneliz', 'Anella', 'Anelly', 'Anely', 'Anesia', 'Anessa', 'Aneth', 'Anetra', 'Anett', 'Anette', 'Anevay', 'Aneya', 'Angel', 'Angela', 'Angele', 'Angelea', 'Angeleah', 'Angelee', 'Angeleen', 'Angeleena', 'Angelena', 'Angelene', 'Angeles', 'Angeli', 'Angelia', 'Angeliah', 'Angelic', 'Angelica', 'Angelicamaria', 'Angelicamarie', 'Angelicia', 'Angelie', 'Angelik', 'Angelika', 'Angelin', 'Angelina', 'Angelinah', 'Angeline', 'Angelinne', 'Angelique', 'Angelisa', 'Angelise', 'Angelita', 'Angella', 'Angelle', 'Angelli', 'Angellica', 'Angellina', 'Angelly', 'Angelmarie', 'Angelo', 'Angely', 'Angelyn', 'Angelyna', 'Angelyne', 'Angelynn', 'Angeni', 'Angi', 'Angie', 'Angle', 'Anglea', 'Angy', 'Anh', 'Anhelica', 'Anhthu', 'Ani', 'Ania', 'Aniah', 'Anibal', 'Anica', 'Anicia', 'Aniela', 'Anifer', 'Anijah', 'Anika', 'Aniko', 'Anilah', 'Anina', 'Anique', 'Anisa', 'Anisah', 'Anise', 'Anisha', 'Anishka', 'Anissa', 'Aniston', 'Anistyn', 'Anita', 'Anitra', 'Aniya', 'Aniyah', 'Aniyha', 'Aniyla', 'Aniylah', 'Anja', 'Anjalee', 'Anjali', 'Anjana', 'Anjanae', 'Anjanette', 'Anjani', 'Anjannette', 'Anjeanette', 'Anjela', 'Anjelica', 'Anjelika', 'Anjelina', 'Anjenette', 'Anjolie', 'Anjolina', 'Anjuli', 'Ankita', 'Ankitha', 'Anmarie', 'Anmol', 'Ann', 'Anna', 'Annabel', 'Annabell', 'Annabella', 'Annabelle', 'Annabeth', 'Annah', 'Annahi', 'Annai', 'Annais', 'Annaka', 'Annalea', 'Annaleah', 'Annalee', 'Annaleia', 'Annaleigh', 'Annali', 'Annalia', 'Annaliah', 'Annalicia', 'Annalie', 'Annaliese', 'Annalina', 'Annalisa', 'Annalise', 'Annaliyah', 'Annaliz', 'Annaliza', 'Annaly', 'Annalyn', 'Annalynn', 'Annalyse', 'Annamae', 'Annamaria', 'Annamarie', 'Annarose', 'Annasofia', 'Annasophia', 'Annastacia', 'Annastasia', 'Annay', 'Annaya', 'Anndrea', 'Anne', 'Anneka', 'Anneke', 'Annel', 'Anneli', 'Annelie', 'Anneliese', 'Annelise', 'Annelyse', 'Annemarie', 'Annessa', 'Annet', 'Annete', 'Anneth', 'Annett', 'Annetta', 'Annette', 'Anni', 'Annia', 'Anniah', 'Annica', 'Annie', 'Annika', 'Annisa', 'Annissa', 'Anniston', 'Annita', 'Anniyah', 'Annmarie', 'Annora', 'Anny', 'Annya', 'Anora', 'Anouk', 'Anoushka', 'Anshika', 'Ansley', 'Antara', 'Anthea', 'Anthony', 'Antionette', 'Antoinette', 'Antonela', 'Antonella', 'Antonette', 'Antonia', 'Antonieta', 'Antonietta', 'Antoniette', 'Antonina', 'Antonio', 'Antonisha', 'Antwanette', 'Anuhea', 'Anum', 'Anureet', 'Anusha', 'Anushka', 'Anushree', 'Anvi', 'Anvika', 'Anvita', 'Anvitha', 'Anwita', 'Any', 'Anya', 'Anyah', 'Anyeli', 'Anyelin', 'Anyia', 'Anyiah', 'Anyla', 'Anylah', 'Anysa', 'Anysia', 'Anyssa', 'Aoi', 'Aoife', 'Aolani', 'Aolanis', 'Aparna', 'Apollonia', 'Apolonia', 'Apoorva', 'Apple', 'April', 'Aprille', 'Apryl', 'Aqsa', 'Aqueelah', 'Aquilla', 'Ara', 'Arabella', 'Arabelle', 'Araceli', 'Aracelia', 'Aracely', 'Aradhya', 'Araiya', 'Araiyah', 'Aralyn', 'Aralynn', 'Arami', 'Aramis', 'Arantxa', 'Arantza', 'Aranza', 'Araseli', 'Arasely', 'Araya', 'Arayah', 'Arcelia', 'Archer', 'Archita', 'Ardath', 'Ardell', 'Ardelle', 'Arden', 'Ardeth', 'Ardis', 'Ardith', 'Ardyce', 'Ardys', 'Areana', 'Areanna', 'Areej', 'Areen', 'Areesha', 'Areil', 'Areisy', 'Areli', 'Arelie', 'Arelis', 'Arella', 'Arelly', 'Arely', 'Arelys', 'Areni', 'Ares', 'Aretha', 'Areya', 'Arfa', 'Argelia', 'Arha', 'Ari', 'Aria', 'Ariabella', 'Ariadna', 'Ariadne', 'Ariah', 'Ariahna', 'Arial', 'Ariam', 'Arian', 'Ariana', 'Arianah', 'Ariane', 'Arianelly', 'Ariani', 'Arianie', 'Arianna', 'Ariannah', 'Arianne', 'Arianni', 'Ariannie', 'Arianny', 'Ariany', 'Ariarose', 'Ariatna', 'Ariauna', 'Ariba', 'Aribella', 'Aribelle', 'Arica', 'Ariday', 'Arie', 'Arieana', 'Arieanna', 'Ariel', 'Ariela', 'Ariele', 'Ariell', 'Ariella', 'Arielle', 'Ariely', 'Aries', 'Arihana', 'Arihanna', 'Arika', 'Arilene', 'Arilynn', 'Arin', 'Arina', 'Arion', 'Ariona', 'Arionna', 'Aris', 'Arisa', 'Arisbeth', 'Arisha', 'Arissa', 'Arista', 'Ariya', 'Ariyah', 'Ariyan', 'Ariyana', 'Ariyanna', 'Arizbeth', 'Arizona', 'Arla', 'Arleen', 'Arleene', 'Arlen', 'Arlena', 'Arlene', 'Arlenne', 'Arlet', 'Arleta', 'Arleth', 'Arlett', 'Arletta', 'Arlette', 'Arley', 'Arlin', 'Arlinda', 'Arline', 'Arliz', 'Arlo', 'Arly', 'Arlyn', 'Arlyne', 'Arlynn', 'Armanda', 'Armandina', 'Armando', 'Armani', 'Armida', 'Arminda', 'Armine', 'Armoni', 'Arna', 'Arnelle', 'Arnetia', 'Arnetta', 'Arnika', 'Arnita', 'Arohi', 'Arora', 'Arpi', 'Arpine', 'Arpita', 'Arriana', 'Arrianna', 'Arrielle', 'Arrow', 'Arsema', 'Arshdeep', 'Arshia', 'Artemis', 'Artemisa', 'Arthur', 'Arti', 'Artie', 'Artisha', 'Arturo', 'Aruna', 'Arushi', 'Arwa', 'Arwen', 'Arwyn', 'Ary', 'Arya', 'Aryah', 'Aryam', 'Aryan', 'Aryana', 'Aryanah', 'Aryanna', 'Aryannah', 'Aryel', 'Aryella', 'Aryia', 'Aryiah', 'Aryn', 'Arynn', 'Aryona', 'Aryonna', 'Aryssa', 'Arzoey', 'Arzoi', 'Arzoyi', 'Arzu', 'Asa', 'Asako', 'Asal', 'Asante', 'Ascencion', 'Ascension', 'Aseel', 'Asees', 'Asenat', 'Asenath', 'Asenet', 'Aseneth', 'Asha', 'Ashante', 'Ashanti', 'Ashanty', 'Ashby', 'Ashe', 'Asheley', 'Ashely', 'Asher', 'Ashia', 'Ashika', 'Ashira', 'Ashlan', 'Ashland', 'Ashle', 'Ashlea', 'Ashlee', 'Ashleen', 'Ashlei', 'Ashleigh', 'Ashlen', 'Ashley', 'Ashleyann', 'Ashleymarie', 'Ashleynicole', 'Ashli', 'Ashlie', 'Ashliegh', 'Ashlin', 'Ashly', 'Ashlye', 'Ashlyn', 'Ashlynn', 'Ashlynne', 'Ashmita', 'Ashna', 'Ashten', 'Ashtin', 'Ashton', 'Ashtyn', 'Ashvi', 'Ashvika', 'Ashwika', 'Asia', 'Asiah', 'Asiana', 'Asiya', 'Asiyah', 'Asley', 'Aslyn', 'Asma', 'Asmaa', 'Asmara', 'Asmi', 'Aspen', 'Aspyn', 'Asra', 'Assata', 'Astella', 'Aster', 'Asteria', 'Astha', 'Astoria', 'Astra', 'Astraea', 'Astrid', 'Asucena', 'Asuka', 'Asuna', 'Asusena', 'Asuzena', 'Asya', 'Atalia', 'Atalie', 'Atara', 'Atarah', 'Atenas', 'Atenea', 'Athalia', 'Athaliah', 'Atheena', 'Athena', 'Athina', 'Athira', 'Athyna', 'Athziri', 'Athziry', 'Atiana', 'Atianna', 'Atiya', 'Atlas', 'Atzi', 'Atziri', 'Atziry', 'Aubreanna', 'Aubree', 'Aubreigh', 'Aubrey', 'Aubreyana', 'Aubri', 'Aubriana', 'Aubrianna', 'Aubrie', 'Aubriee', 'Aubriella', 'Aubrielle', 'Aubry', 'Aubryana', 'Aubryanna', 'Auburn', 'Audelia', 'Auden', 'Audra', 'Audre', 'Audrea', 'Audreanna', 'Audree', 'Audreena', 'Audrena', 'Audrey', 'Audreyana', 'Audri', 'Audria', 'Audriana', 'Audrianna', 'Audrie', 'Audrielle', 'Audrina', 'Audrinna', 'Audris', 'Audry', 'Audryna', 'August', 'Augusta', 'Augustina', 'Aujanae', 'Aulani', 'Aundrea', 'Aundria', 'Aunika', 'Aunna', 'Aura', 'Aurea', 'Aurelia', 'Aurelie', 'Auri', 'Auria', 'Auriana', 'Aurianna', 'Auriel', 'Auriella', 'Aurielle', 'Aurora', 'Aurorah', 'Austen', 'Austin', 'Austyn', 'Austynn', 'Autum', 'Autumn', 'Ava', 'Avagrace', 'Avah', 'Avaiyah', 'Avalee', 'Avaleen', 'Avaleigh', 'Avalene', 'Avalina', 'Avaline', 'Avalon', 'Avalyn', 'Avalynn', 'Avamarie', 'Avana', 'Avangeline', 'Avani', 'Avanna', 'Avanni', 'Avantika', 'Avaree', 'Avari', 'Avarie', 'Avarose', 'Avary', 'Avaya', 'Avayah', 'Avea', 'Aveah', 'Avelina', 'Aveline', 'Avelyn', 'Avelynn', 'Aven', 'Averee', 'Averey', 'Averi', 'Averie', 'Averly', 'Avery', 'Averyrose', 'Aveya', 'Aveyah', 'Avi', 'Avia', 'Aviah', 'Aviana', 'Avianah', 'Avianna', 'Aviannah', 'Avie', 'Aviella', 'Avielle', 'Avigail', 'Avigayil', 'Avika', 'Avila', 'Avilene', 'Avina', 'Avira', 'Avis', 'Avital', 'Aviv', 'Aviva', 'Aviyah', 'Avleen', 'Avneet', 'Avni', 'Avnoor', 'Avonlea', 'Avory', 'Avree', 'Avrie', 'Avril', 'Avry', 'Avy', 'Avya', 'Avyana', 'Avyanna', 'Aya', 'Ayah', 'Ayaka', 'Ayako', 'Ayala', 'Ayame', 'Ayana', 'Ayanah', 'Ayane', 'Ayani', 'Ayanna', 'Ayannah', 'Ayano', 'Ayari', 'Ayat', 'Ayda', 'Aydan', 'Ayde', 'Aydee', 'Ayden', 'Ayelen', 'Ayelet', 'Ayerim', 'Ayesha', 'Ayiana', 'Ayisha', 'Ayla', 'Aylah', 'Aylani', 'Aylanie', 'Aylee', 'Ayleen', 'Aylen', 'Aylene', 'Aylet', 'Ayleth', 'Aylin', 'Ayline', 'Aylinn', 'Aylssa', 'Aymar', 'Ayme', 'Aymee', 'Ayomi', 'Ayra', 'Ayram', 'Aysel', 'Aysha', 'Aysia', 'Aytana', 'Ayumi', 'Ayushi', 'Ayva', 'Ayvah', 'Ayven', 'Ayzal', 'Ayzel', 'Azadeh', 'Azalea', 'Azaleah', 'Azalia', 'Azaliah', 'Azalie', 'Azara', 'Azari', 'Azaria', 'Azariah', 'Azariyah', 'Azayla', 'Azaylah', 'Azelea', 'Azelia', 'Azelie', 'Azeneth', 'Azhane', 'Azia', 'Azita', 'Aziyah', 'Aziza', 'Azlyn', 'Azlynn', 'Azra', 'Azrael', 'Azriel', 'Azrielle', 'Azucena', 'Azul', 'Azula', 'Azura', 'Azure', 'Azusena', 'Baani', 'Babette', 'Baby', 'Babygirl', 'Bahar', 'Bailee', 'Baileigh', 'Bailey', 'Bailie', 'Baillie', 'Baily', 'Baker', 'Baleria', 'Balinda', 'Bambi', 'Banesa', 'Banessa', 'Bani', 'Banks', 'Bao', 'Baran', 'Barb', 'Barbara', 'Barbi', 'Barbie', 'Barbra', 'Bareen', 'Bari', 'Barrett', 'Barri', 'Barrie', 'Barry', 'Basia', 'Basil', 'Batsheva', 'Batya', 'Bay', 'Baya', 'Bayan', 'Bayla', 'Baylee', 'Bayleigh', 'Bayley', 'Bayli', 'Baylie', 'Baylor', 'Bea', 'Beatrice', 'Beatris', 'Beatrix', 'Beatriz', 'Beau', 'Beautiful', 'Beauty', 'Beaux', 'Bebe', 'Becca', 'Beckett', 'Becki', 'Beckie', 'Becky', 'Bedelia', 'Bee', 'Bela', 'Belanna', 'Belem', 'Belen', 'Belia', 'Belicia', 'Belina', 'Belinda', 'Belkis', 'Belky', 'Bella', 'Belladonna', 'Bellah', 'Bellamarie', 'Bellami', 'Bellamy', 'Bellanie', 'Bellarose', 'Bellatrix', 'Belle', 'Bellina', 'Belva', 'Benicia', 'Benita', 'Benjamin', 'Bennett', 'Bennie', 'Benny', 'Bentlee', 'Bentley', 'Berania', 'Berenice', 'Berenis', 'Berenise', 'Bereniz', 'Berenize', 'Bergen', 'Berkeley', 'Berkley', 'Berlin', 'Berlyn', 'Berlynn', 'Berna', 'Bernadette', 'Bernadine', 'Bernardette', 'Bernardine', 'Berneice', 'Bernice', 'Bernie', 'Berniece', 'Bernita', 'Beronica', 'Berta', 'Bertha', 'Bertie', 'Bertina', 'Beryl', 'Bess', 'Bessie', 'Bessy', 'Betania', 'Beth', 'Bethani', 'Bethanie', 'Bethann', 'Bethanny', '

In [28]:
claras = fem_babynames.groupby('Name').get_group('Clara')
claras

       State Sex  Year   Name  Count
41        CA   F  1910  Clara     37
292       CA   F  1911  Clara     29
529       CA   F  1912  Clara     52
842       CA   F  1913  Clara     55
1193      CA   F  1914  Clara     49
...      ...  ..   ...    ...    ...
221348    CA   F  2018  Clara    235
225033    CA   F  2019  Clara    241
228687    CA   F  2020  Clara    229
232341    CA   F  2021  Clara    195
236013    CA   F  2022  Clara    186

[113 rows x 5 columns]

Separar el grupo de clara por decadas 

calcular el total de claras por decada

calcular el promedio de claras por decada

In [29]:
decades = list(range(1910, 2022, 10))
decades

[1910, 1920, 1930, 1940, 1950, 1960, 1970, 1980, 1990, 2000, 2010, 2020]

In [30]:
claras[(claras['Year'] >= decades[0]) & (claras['Year'] < decades[0]+10)]

     State Sex  Year   Name  Count
41      CA   F  1910  Clara     37
292     CA   F  1911  Clara     29
529     CA   F  1912  Clara     52
842     CA   F  1913  Clara     55
1193    CA   F  1914  Clara     49
1543    CA   F  1915  Clara     82
2000    CA   F  1916  Clara     87
2477    CA   F  1917  Clara     81
2955    CA   F  1918  Clara     86
3463    CA   F  1919  Clara     89

In [46]:
claras_decades = {}
for decade in range(len(decades)):
    claras_decades[decades[decade]] = (claras[(claras['Year'] >= decades[decade]) & (claras['Year'] < decades[decade]+10)])['Count'].sum()
claras_decades

{1910: 647,
 1920: 896,
 1930: 685,
 1940: 602,
 1950: 602,
 1960: 449,
 1970: 390,
 1980: 534,
 1990: 1022,
 2000: 1289,
 2010: 2110,
 2020: 610}

In [64]:
claras_decades = np.array([[0,0]])
for decade in range(len(decades)):
    aux = (claras[(claras['Year'] >= decades[decade]) & (claras['Year'] < decades[decade]+10)])['Count'].sum()
    aux = np.array([[decades[decade], aux]])
    claras_decades = np.append(claras_decades, aux, axis=0)
claras_decades = np.delete(claras_decades, 0, 0)
claras_decades = pd.DataFrame(claras_decades, columns = ['Decade', 'Count'])
claras_decades

    Decade  Count
0     1910    647
1     1920    896
2     1930    685
3     1940    602
4     1950    602
5     1960    449
6     1970    390
7     1980    534
8     1990   1022
9     2000   1289
10    2010   2110
11    2020    610

In [67]:
claras_decades['Count'].sum()

9836